@import url("../main.css");

h2.article-header {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: left;
    padding: 0;
    margin: 0.5rem 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    text-decoration-style: dashed;
    color: var(--foreground);
}


.article {
    width: 80%;
    min-height: calc(2rem + 4.5rem + 4vh);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    padding: 2vh;
    padding-top: 0;
    border-radius: 3vh;
    background-color: var(--articlebackground);
    display: flex;
    color: var(--foreground);
    text-decoration: none;
}

div.article-text {
    width: calc(100% - 6.5rem);
    height: 100px;
}

div.article-text:hover {
    cursor: pointer;
}

div.article-content {
    line-height: 1.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

div.article-image-box {
    height: 6.5rem;
    width: 6.5rem;
    display: flex;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2vh;
    margin-right: 2%;
}

img.article-image {
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 2vh;
}

.headerleft {
    text-align: left;
    margin-left: 0;
    padding-left: 0;
}