<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Felix Burger>">
    <meta name = "description" content="Projects by Felix Burger">
    <link rel="icon" href="../../icon-rounded.png" type="image/x-icon">
    <link rel="stylesheet" href="template-styles.css" type="text/css">
    <script src="https://kit.fontawesome.com/2a210ebde2.js" crossorigin="anonymous"></script>
    <script data-goatcounter="https://felixburger.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
    <title>Projects</title>
</head>
<body>
    <header>
        <div class="parent" style="text-align: left">
            <div class="home"><a href="/"><img src="../icon-rounded.png" alt="Home"></a></div>
            <div class="title-header"><h1>Felix Burger</h1></div></div>
    </header>
    <nav>
    <div class="parent" style="text-align: center;">
        <a href="/about/" class="nav">About</a>
        <a href="/photo/" class="nav">Photos</a>
        <a href="/projects/" class="nav">Projects</a>
    </div></nav>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <main>

        <div class="contactme"><a href="/contact">Contact me!&nbsp;<i class="fa-solid fa-message"></i></a></div>
    </main>
    <footer>
        <div class="parent" style="width: 100%;">
            <div class="icon"><a href="https://github.com/felix936"><i class="fa-brands fa-github"></i></a></div>
            <div class="icon"><a href="mailto:felix.b.burger@gmx.de"><i class="fa-solid fa-envelope"></i></a></div>
            <div class="icon"><a href="tel:+4917642622072"><i class="fa-solid fa-phone"></i></a></div>
            <div class="icon"><a href="https://www.youtube.com/@felixburger"><i class="fa-brands fa-youtube"></i></a></div>
            <div class="icon"><a href="https://www.linkedin.com/in/felixburger"><i class="fa-brands fa-linkedin"></i></a></div></div>
    </footer>
</body>
</html>
