@import url("main.css");

/* Startpage*/

.indexarticle{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.indexsection {
    display: flex;
    align-items: center;
    margin-top: 5vh;
    border-radius: 2vh;
    height: auto;
    padding: 2vw;
    background-color: var(--articlebackground);
}

.indexsectionline {
    margin-left: 2vw;
    margin-right: 2vw;
    border-left: max(0.3vw, 2px) solid #92D050;
}

div.indexsectionpicturetext{
    width: 65%;
}

div.indexsectiontext{
    width: 80%;
}

.indexsection h2{
    font-size: min(calc((8vw + 8vh) / 2), 2rem);
    line-height: min(calc((10vw + 10vh) / 2), 3rem);
    overflow-wrap: break-word;
}

.indexsection p{
    font-size: min(calc((5vw + 5vh) / 2), 1.5rem);
    line-height: min(calc((7vw + 7vh) / 2), 2.25rem);
    overflow-wrap: break-word;
}

img.indeximg {
    width: 30%;
    object-fit: contain;
    margin: 0;
    border-radius: 0;
}

div.indexicon i{
    padding: 0;
    padding-top: 5vh;
    width: min(100px, 10vw);
    font-size: min(80px, 8vw);
    margin: 0;
}

.skilllist {
    list-style-type: none;
}

#indexsectiontwo, #indexsectionthree, #indexsectionfour {
    align-items: flex-start;
}