@import url("main.css");

/* Startpage*/

.indexarticle{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.indexsection {
    display: flex;
    align-items: center;
    margin-top: 20px;
    border-radius: min(50px, 5vw);
    height: fit-content;
    padding: min(20px, 2vw);
    background-color: var(--articlebackground);
}

.indexsectionline {
    margin-left: 2vw;
    margin-right: 2vw;
    border-left: max(0.3vw, 2px) solid var(--lightgreen);
    align-self: stretch;
}

div.indexsectionpicturetext{
    width: 65%;
}

div.indexsectiontext{
    width: 80%;
}

.indexsection h2{
    line-height: min(12vw, 2.7rem);
    font-size: min(10vw, 2.25rem);
    overflow-wrap: break-word;
}
.indexsection h3{
    font-size: min(8vw, 1.8rem);
    line-height: min(10vw, 2.25rem);
    overflow-wrap: break-word;
}

.indexsection p{
    font-size: min(5vw, 1.5rem);
    line-height: min(7vw, 2.25rem);
    overflow-wrap: break-word;
}

li p i {
    width: min(6vw, 1.8rem);
}

img.indeximg {
    width: min(30%, 250px);
    object-fit: contain;
    margin: 0;
    border-radius: 0;
}


div.indexicon {
    padding: 0;
    width: min(100px, 10vw);
    height: min(120px, 12vw);
    font-size: min(80px, 8vw);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skilllist {
    list-style-type: none;
}

#indexsectiontwo, #indexsectionthree, #indexsectionfour {
    align-items: flex-start;
}