*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: none;
    line-height: 1.75rem;
    text-align: left;
    background-color: white;
    color: black;
    font-family: "Sans serif", Arial, sans-serif;
    font-style: normal;
}

nav {
    margin-top: none;
    position: sticky;
    top: 0px;
    z-index: 100;
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
    padding-bottom: 5vh;
    font-size: 1.5rem;
    width: 100%;
    height: auto;
    max-height: 20vh;
}

header {
    margin-top: 1rem;
    width: 100%;
    min-height: 11vh;
    text-align: center;
    align-content: center;
    background-color: #ffffff;
    z-index: 1;
}

div.title-header {
    font-size: calc((5vw + 5vh) / 2);
    width: 100%;
    padding-left: 15vh;
    display: flex;
    height: 11vh;
    align-items: center;
    justify-items: center;
}

.title-header h1 {
    margin-left: auto;
    margin-right: auto;
}

footer {
    width: 100%;
    height: 10%;
    background-color: #568525;
}


img {
    width: 80%;
    height: auto;
    border-radius: 1.3rem;
    margin-left: 10%;
    margin-right: 10%;
}

a {
    text-decoration: none;
}

div.home{
    position: absolute;
    left: 0vh;
    top: 0vh;
    margin-left: none;
    padding-left: none;
    display: inline-block;
    text-align: left;
    width: 11vh;
    height: 11vh;
    background-color: #ffffff;
}

.home img{
    display: inline-block;
    text-align: left;
    width: 100%;
    height: auto;
}

div.home:hover{
    left: -1vh;
    top: -1vh;
    width: 13vh;
    height: 13vh;
    height: auto;
}

div {
    position: relative;
    top: 0px;
    vertical-align: top;
}

div.nav, a.nav{
    color: white;
    background-color: #568525;
    text-decoration: none;
    text-align: center;
    width: 28%;
    padding: 0.3rem 0.2rem;
    margin-top: none;
    display: inline-block;
    border-radius: 2.3rem;
    position: relative;
}

div.nav:hover, a.nav:hover {
    width: 32%;
}

.parent {
    text-align: center;
}

div.icon {
    display: inline-block;
    text-align: center;
    border-radius: calc((6vh + 6vw) / 2);
    overflow: hidden;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
}

.icon a {
    width: calc((6vh + 6vw) / 2);
    height: calc((6vh + 6vw) / 2);
    background-color: darkslategrey;
    color: #ffffff;
    text-decoration: none;
    font-size: calc((4vh + 4vw) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.icon a:hover {
    background-color: white;
    color: darkslategrey;
}

.footerlinks {
    display: inline-block;
    left: 1%;
    top: 1%;
    color: white;
    font-size: 80%;
    text-decoration: none;
    padding: 0.7rem;
    position: relative;
    border-radius: 0;
    margin: 1rem;
    font-size: 1rem;
}

.footerlinks:hover {
    color: rgb(220, 220, 220);
}

div.nav:hover, a.nav:hover {
    width: 32%;
}

.cv {
    margin: 2vw;
}

div.cvleft-title {
    font-size: 1.3rem;
    left: 1%;
    font-weight: bold;
    display: inline-block;
    width: calc(140px + 5%);
    text-align: left;
}

div.cvleft-year {
    font-size: 1rem;
    left: 1%;
    font-weight: normal;
    color: #5c1f7d;
    display: inline-block;
    width: calc(140px + 5%);
    text-align: left;
}

div.cvright {
    font-size: 1.3rem;
    display: inline-block;
    width: calc(90% - 150px);
    height: max-content;
    position: relative;
    left: 2%;
    text-align: left;
    padding-bottom: 1rem;
    line-height: 1.5rem;
}

dl {
    margin-top: 0px;
}


table, tr, th, td, caption {
    border: 5px solid #B787D7;
    border-collapse: collapse;
    padding: 0.5em;
}

input, textarea {
    margin: 1vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    font-size: 1rem;
    border-radius: 0.2em;
    border: 0.5px solid #696969;
    background-color: rgba(194, 194, 194, 0.2);
    width: 50%;
}

input.name {
    display: inline-block;
    width: calc(25% - 0.25vw);
}

fieldset{
    border: none;
    text-align: center;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}

.parent {
    text-align: center;
}

.parentleft {
    text-align: left;
    height: 100%;
}

button.submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    font-size: 1.5rem;
    border-radius: 0.2em;
    padding: 0.2rem;
}

.vl {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-left: 0.3rem solid #92D050;
    position: absolute;
    left: relative;
    top: relative;
    display: inline-block;
}

h2.article-header {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: left;
    padding: 0;
    margin: 0.5rem 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    text-decoration-style: dashed;
    color: black;
}

.article {
    width: 80%;
    min-height: calc(2rem + 4.5rem + 4vh);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    padding: 2vh;
    padding-top: 0;
    border-radius: 3vh;
    background-color: rgb(230,230,230);
    display: flex;
    color: black;
    text-decoration: none;
}

div.article-text {
    width: calc(100% - 6.5rem);
    height: 100px;
}

div.article-text:hover {
    cursor: pointer;
}

div.article-content {
    line-height: 1.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

div.article-image-box {
    height: 6.5rem;
    width: 6.5rem;
    display: flex;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2vh;
    margin-right: 2%;
}

img.article-image {
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 2vh;
}

.article-image:hover {
    cursor: pointer;
}


.headerleft {
    text-align: left;
    margin-left: 0;
    padding-left: 0;
}
