/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #ffffff;
    --black: #000000;

    --lightgrey: rgb(230,230,230);
    --darkgrey: rgb(50, 50, 50);

    /* with JS we set the the variables to fit the theme */
}


body {
    margin: 0;
    padding: none;
    line-height: 1.75rem;
    text-align: left;
    font-family: "Sans serif", Arial, sans-serif;
    font-style: normal;
    background-color: var(--background);
    color: var(--foreground);
}

a {
    text-decoration: none;
}

div {
    position: relative;
    top: 0px;
    vertical-align: top;
}

/* Header with Felix Burger and logo */
header {
    width: 100%;
    text-align: center;
    align-content: center;
    z-index: 1;
    margin: 2vh 0 2vh 0;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

div.title-header {
    display: flex;
    align-self: center;
    justify-self: center;
}

.title-header h1 {
    font-size: min(10vw, 100px);
    line-height: normal;
}

div.home, .home a{
    display: flex;
    align-self: center;
    justify-self: center;
    width: min(12vw, 120px);
    height: auto;
    z-index: 1;
    margin-left: 2vw;
}

.home img{
    width: 100%;
    height: auto;
}

div.home:hover{
    width: min(15vw, 150px);
    height: auto;
}

button.dark-mode-toggle{
    display: flex;
    align-items: center;
    font-size: min(3.5vw, 35px);
    margin-right: 2vw;
    z-index: 1;
    border: none;
    color: var(--foreground);
    background: var(--background);
}

button.dark-mode-toggle:hover{
    cursor: pointer;
}



/*Navigation-Menu*/
nav {
    margin-top: none;
    position: sticky;
    top: 0px;
    z-index: 100;
    background-image: var(--lineargradient);
    padding-bottom: 5vh;
    font-size: min(calc((5vw + 5vh) / 2), 1.5rem);
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav a{
    color: white;
    background-color: #568525;
    text-decoration: none;
    width: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4rem;
    padding: calc((0.5vw + 0.5vh) / 2) 0;
    position: relative;
    overflow: hidden;
}

nav a:hover {
    width: 32%;
}

nav.small{
    visibility: hidden; 
    display: none;}

/* Changing text to font if window to small)*/

@media screen and (max-width:350px){
    nav.normal { display: none !important; }
    nav.small  { visibility: visible; display: flex;}
}

/* Footer */

footer {
    width: 100%;
    background-color: #568525;
}

div.icon {
    display: inline-block;
    text-align: center;
    border-radius: calc((6vh + 6vw) / 2);
    overflow: hidden;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
}

.icon a {
    width: calc((6vh + 6vw) / 2);
    height: calc((6vh + 6vw) / 2);
    background-color: darkslategrey;
    color: #ffffff;
    text-decoration: none;
    font-size: calc((4vh + 4vw) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
}

.icon a:hover {
    background-color: white;
    color: darkslategrey;
}

/* Parent Elements */

.parent {
    text-align: center;
}

.parentleft {
    text-align: left;
    height: 100%;
}

div.contactme {
    margin: 5vh;
    padding: 0;
    display: flex;
    height: calc(4vh + min(calc((10vw + 10vh) / 2), 2rem));
    justify-content: center;
    align-items: center;
}

.contactme a {
    text-align: center;
    background-color: #568525;
    padding: 2vh;
    width: auto;
    font-size: min(calc((10vw + 10vh) / 2), 2rem);
    line-height: normal;
    color: white;
    border-radius: 1vh;
}