/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #ffffff;
    --black: #000000;

    --lightgrey: rgb(230,230,230);
    --darkgrey: rgb(50, 50, 50);

    --darkgreen: #568525;
    --lightgreen: #92D050;
    /* with JS we set the the variables to fit the theme */
}


body {
    margin: 0;
    padding: none;
    line-height: 1.75rem;
    text-align: left;
    font-family: "Sans serif", Arial, sans-serif;
    font-style: normal;
    background-color: var(--background);
    color: var(--foreground);
}
a {
    text-decoration: none;
}

div {
    position: relative;
    top: 0px;
    vertical-align: top;
}

h1.name {
  font-size: min(1.8rem, 13.5vh);
  line-height: min(2rem, 15vh);
  color: var(--white);
}

@media screen and (min-width: 480px){
	h1.name{
    height: 0;
    width: 0;
    overflow: hidden;
  }
}	
@media screen and (min-width: 720px){
	h1.name{
    height: auto;
    width: auto;
    overflow: visible;
  }
}	

header{
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
  background-color: var(--darkgreen);
  z-index: 3;
  overflow: hidden;
}

/* header::after {
  content: '';
  position: absolute;
  width: 100%;
  height: min(0.15rem, 0.5vh);
  border-radius: min(0.075rem, 0.25vh);
  left: 0;
  bottom: calc(min(0.15rem, 0.5vh) * -1);
  background: var(--lightgreen);
} */

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav a {
  margin: 0 1vw;
  font-size: min(1.2rem, 9vh);
  line-height: min(1.5rem, 11vh);
  color: var(--white);
  padding: 0.2vw 1.5vw;
  position: relative;
}
nav a p i{
  font-size: min(1rem, 7.5vh);
  line-height: min(1.5rem, 10vh);
  align-self: center;
}
nav a p {
  position: relative;
  display: flex;
  cursor: pointer;
  width: fit-content;
}
nav a p::after {
  content: '';
  position: absolute;
  width: 100%;
  height: min(0.15rem, 1.2vh);
  border-radius: min(0.075rem, 0.6vh);
  left: 0;
  bottom: 0;
  background: var(--white);

  transform: scale(0, 1);
  transform-origin: 0% 0%;
  transition: transform 0.3s ease;
}

nav a p:hover::after, nav a p.current-page::after{
  transform: scale(1, 1);
}

header.small{
  width: auto;
  height: auto;
  overflow: visible;
  padding: 0;
}
/* Dropdown Button */
.dropbtn {
  background-color: var(--darkgreen);
  color: var(--white);
  font-size: 1.5rem;
  padding: 0.5rem;
  border: none;
}
#nav-dropbtn {
  display: none;
}
#expand-btn, #close-btn {
  font-size: min(1.8rem, 13.5vh);
  color: var(--white);
  height: min(2rem, 15vh);
  width: min(2rem, 15vh);
  display: flex;
  align-content: center;
  justify-content: center;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  display: flex;
  overflow: visible;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 1vw;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  top: calc(max((4vw * var(--darkmode-toggle-size)), min(2rem, 15vh)) + 2vw + min(0.15rem, 0.5vh));
  background-color: var(--darkgreen);
  z-index: 30;
  width: 100%;
  max-height: calc(100vh - (max((4vw * var(--darkmode-toggle-size)), min(2rem, 15vh)) + 2vw + min(0.15rem, 0.5vh)));
  border-radius: 0 0 2vw 2vw;
}

.dropdown-content::after {
  content: '';
  position: absolute;
  width: 100%;
  height: min(0.15rem, 0.5vh);
  left: 0;
  top: calc(min(0.15rem, 0.5vh) * -1);
  background: var(--white);
  z-index: 100;
}


header.small nav{
  flex-direction: column;
  align-items: flex-start;
}

header.normal {
  display: none;
}


@media screen and (min-width: 480px){
	header.normal {
    display: flex;
  }
  header.small {
    display: none;
  }
}	


/* Links inside the dropdown */
.dropdown-content nav a {
  color: var(--white);
  text-decoration: none;
  display: block;
  margin: 5vh;
  margin-left: 0;
}

#close-btn, #div-darkmode-toggle {
  display: none;
}

#nav-dropbtn:checked ~ .dropdown-content {
  display: flex;
}
#nav-dropbtn:checked ~ #expand-btn,  #nav-dropbtn:checked ~ .name{
  display: none;
}
#nav-dropbtn:checked ~ #close-btn {
  display: flex;
}
#nav-dropbtn:checked ~ #div-darkmode-toggle {
  display: block;
}


/* Footer */

footer {
    width: 100%;
    background-color: var(--darkgreen);
    position: relative;
}

div.icon {
    display: inline-block;
    text-align: center;
    border-radius: 6vw;
    overflow: hidden;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
}

.icon a {
    width: 12vw;
    height: 12vw;
    background-color: darkslategrey;
    color: #ffffff;
    text-decoration: none;
    font-size: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
}

@media screen and (min-width:720px){
	.icon a {
		width: 6vw;
    height: 6vw;
    font-size: 4vw;}
}	
@media screen and (min-width:1080px){
	.icon a {
		width: 4vw;
    height: 4vw;
    font-size: 2.7vw;}
}	

.icon a:hover {
    background-color: white;
    color: darkslategrey;
}

/* Parent Elements */

.parent {
    text-align: center;
}

.parentleft {
    text-align: left;
    height: 100%;
}

div.contactme {
    margin: 20px;
    padding: 0;
    display: flex;
    height: calc(50px + min(10vw, 2rem));
    justify-content: center;
    align-items: center;
}

.contactme a {
    text-align: center;
    background-color: var(--darkgreen);
    padding: 2vw;
    width: auto;
    font-size: min(10vw, 2rem);
    line-height: normal;
    color: white;
    border-radius: 1vw;
}

@-webkit-keyframes contactme-hover {
    2% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    4% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    6% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    8% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    10% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    12% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    14% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    16% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    18% {
      -webkit-transform: translateX(1px) rotate(0);
      transform: translateX(1px) rotate(0);
    }
    20% {
      -webkit-transform: translateX(-1px) rotate(0);
      transform: translateX(-1px) rotate(0);
    }
    100% {}
  }
  @keyframes contactme-hover {
    2% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    4% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    6% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    8% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    10% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    12% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    14% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    16% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    18% {
      -webkit-transform: translateX(1px) rotate(0);
      transform: translateX(1px) rotate(0);
    }
    20% {
      -webkit-transform: translateX(-1px) rotate(0);
      transform: translateX(-1px) rotate(0);
    }
    100% {}
  }
  
.contactme:hover, .contactme:focus, .contactme:active {
-webkit-animation-name: contactme-hover;
animation-name: contactme-hover;
-webkit-animation-duration: 4s;
animation-duration: 4s;
-webkit-animation-timing-function: linear;
animation-timing-function: linear;
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
}


:root{
	--darkmode-toggle-size: 2;
}

div.darkmode-toggle {
  height: fit-content;
}
label.darkmode-toggle {
	width: calc(10vw * var(--darkmode-toggle-size));
	height: calc(4vw * var(--darkmode-toggle-size));
	position: relative;
	display: flex;
	background: var(--background);
	border-radius: calc(4vw * var(--darkmode-toggle-size));
	cursor: pointer;
	transition: 0.3s;
	align-content: center;
	align-items: center;
	justify-content: space-between;
  margin: 0;
}
label.darkmode-toggle::after {
	content: "";
	width: calc(3.6vw * var(--darkmode-toggle-size));
	height: calc(3.6vw * var(--darkmode-toggle-size));
	position: absolute;
	top: calc(0.2vw * var(--darkmode-toggle-size));
	left: calc(0.2vw * var(--darkmode-toggle-size));
	background: var(--articlebackground);
	border-radius: calc(3.6vw * var(--darkmode-toggle-size));
	transition: 0.3s;
}
input.darkmode-toggle {
	width: 0;
	height: 0;
	margin: 0;
	display: none;
}
input.darkmode-toggle:checked + label.darkmode-toggle::after {
	left: calc(9.8vw * var(--darkmode-toggle-size));
	transform: translateX(-100%);
	background: var(--articlebackground);
}
label.darkmode-toggle:active::after{
	width: calc(5.2vw * var(--darkmode-toggle-size));
}
input.darkmode-toggle:checked + label + .background {
	background:black;
}
span.sun, span.moon {
	width: calc(2.6vw * var(--darkmode-toggle-size));
	z-index: 100;
	font-size: calc(2.6vw * var(--darkmode-toggle-size));
	height: calc(2.6vw * var(--darkmode-toggle-size));
	color:#7e7e7e;
	transition: 0.3s;
	margin: calc(0.5vw * var(--darkmode-toggle-size));
	display: flex;
	align-content: center;
	justify-content: center;
  transform: translate(0, 5%);
}

@media screen and (min-width:360px){
	:root{
		--darkmode-toggle-size: 1.4;}
}	
@media screen and (min-width:480px){
	:root{
		--darkmode-toggle-size: 1.2;}
}	
@media screen and (min-width:640px){
	:root{
		--darkmode-toggle-size: 1;}
}	
@media screen and (min-width: 720px){
	:root{
		--darkmode-toggle-size: 0.9;}
}	
@media screen and (min-width: 900px){
	:root{
		--darkmode-toggle-size: 0.7;}
}	
@media screen and (min-width: 1080px){
	:root{
		--darkmode-toggle-size: 0.6;}
}	