@import url(../../main.css);

/* Specific CSS for Project-Articles */

.article {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--articlebackground);
    border-radius: 1vw;
    padding: 0.5rem;
    padding-bottom: 5vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    overflow: hidden;
}

.article-header {
    padding: 1rem;
    padding-top: 1.5rem;
    font-size: 2.5rem;
    font-weight: bolder;
}

.article-subheader{
    padding: 1rem;
    padding-top: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
}

.article-description {
    padding: 0rem 1rem 0.5rem 1rem;
    font-size: 1.2rem;
}

.article-date {
    padding: 1rem;
    font-size: 1rem;
    font-weight: lighter;
}

.article-text {
    font-size: 1.2rem;
    padding: 1rem;
    padding-top: 1rem;
}

.article-image-big img{
    width: calc(100% - 2rem);
    height: auto;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.article-image-caption {
    width: calc(100% - 2rem);
    text-align: center;
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

img.inline-image {
    width: 100%;
    height: auto;
    border-radius: 1vh;
    margin-left: 0;
    margin-right: 0;
}

div.inline-image-left {
    float: left;
    width: 40%;
    height: auto;
    margin: none;
    margin-right: 1rem;
    margin-left: 1rem;
}

div.inline-image-right {
    float: right;
    width: 40%;
    height: auto;
    margin: none;
    margin-right: 1rem;
    margin-left: 1rem;
}

.inline-text {
    font-size: 1.2rem;
    padding: 1rem;
    padding-top: 0;
}






/* Styles for Share-Function*/

div.main-share{
width: 8vh;
height: 8vh;
position: fixed;
top: 46vh;
left: calc(5% - 4vh);
display: flex;
font-size: 4vh;
justify-content: center;
align-items: center;
z-index: 1000;
}
   
#share_button{
display: none;
}

span,a{
position: absolute;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
}

span{
width: 8vh;
height: 8vh;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: rgb(230, 230, 230);
color: #333;
font-size: 1em;
z-index: 11;
cursor: pointer;
}

.sm_list{
width: 8vh;
height: 8vh;
}

.sm_list a{
width: 8vh;
height: 8vh;
border-radius: 50%;
text-decoration: none;
color: #fff;
transition: all .3s;
font-size: 4vh;
display: flex;
align-content: center;
justify-content: center;
cursor: pointer;
}

#share_button:checked ~ .sm_list a:nth-child(1){
background-color: #3B5998;
transition-delay: 0.2s;
transform: translateY(-3em);
}

#share_button:checked ~ .sm_list a:nth-child(2){
background-color: #1DA1F2;
transition-delay: 0.2s;
transform: translateY(3em);
}

#share_button:checked ~ .sm_list a:nth-child(3){
background-color: #0e76a8;
transition-delay: 0.3s;
transform: translateY(6em);
}

#share_button:checked ~ .sm_list a:nth-child(4){
background-color: 	#FF5700;
transition-delay: 0.3s;
transform: translateY(-6em);
}

#share_button:checked ~ .sm_list a:nth-child(5){
background-color: #25D366;
transition-delay: 0.4s;
transform: translateY(9em);
}

#share_button:checked ~ .sm_list a:nth-child(6){
background-color: darkslategrey;
color: rgb(230, 230, 230);
transition-delay: 0.4s;
transform: translateY(-9em);
}

/* Hovering Effects */

#share_button:checked ~ .sm_list a:nth-child(1):hover{
background-color: #ffffff;
color: #3B5998;
transition-delay: 0.2s;
transform: translateY(-3em);
}

#share_button:checked ~ .sm_list a:nth-child(2):hover{
color: #1DA1F2;
background-color: #fff;
}

#share_button:checked ~ .sm_list a:nth-child(3):hover{
color: #0e76a8;
background-color: #fff;
}

#share_button:checked ~ .sm_list a:nth-child(4):hover{
color: 	#FF5700;
background-color: #fff;
}

#share_button:checked ~ .sm_list a:nth-child(5):hover{
color: #25D366;
background-color: #fff;
}

#share_button:checked ~ .sm_list a:nth-child(6):hover{
background-color: rgb(230, 230, 230);
color: darkslategrey;
}

span:visited{
background-color: #000f94;
}
