@import url(../main.css);

/* Contact Form Styles */

div.form-background {
    width: 90%;
    background-color: var(--articlebackground);
    border-radius: 1vw;
    margin: 5vw auto;
}


#contact {
    margin-left: auto;
    margin-right: auto;
    padding: min(2vw, 30px);
}

input, textarea {
    margin: 0;
    margin-top: min(2vw, 30px);
    display: block;
    padding: 1vw;
    font-size: 1rem;
    border-radius: 0.2em;
    border: 0.5px solid #757575;
    background-color: var(--background);
    width: 100%;
    color: var(--foreground);
}

legend {
    font-size: 1.5rem;
}

p.name-box {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}

input.name {
    width: calc(50% - 0.5vw);
    margin: 0;
    margin-top: min(2vw, 30px);
    padding: 1vw;
}

fieldset{
    border: none;
    text-align: center;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}

textarea { resize: vertical; }

button.submit {
    margin: min(2vw, 30px) auto 0 auto;
    display: block;
    width: 50%;
    max-width: 250px;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.2em;
    padding: 0.5rem;
    color: white;
    background-color: var(--darkgreen);
}