@import url("../main.css");

/* Curriculum Vitae Styles */
.cv {
    margin: 2vw;
}

div.cvleft-title {
    font-size: 1.3rem;
    left: 1%;
    font-weight: bold;
    display: inline-block;
    width: calc(140px + 5%);
    text-align: left;
}

div.cvleft-year {
    font-size: 1rem;
    left: 1%;
    font-weight: normal;
    color: #5c1f7d;
    display: inline-block;
    width: calc(140px + 5%);
    text-align: left;
}

div.cvright {
    font-size: 1.3rem;
    display: inline-block;
    width: calc(90% - 150px);
    height: max-content;
    position: relative;
    left: 2%;
    text-align: left;
    padding-bottom: 1rem;
    line-height: 1.5rem;
}

dl {
    margin-top: 0px;
}

.vl {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-left: 0.3rem solid #92D050;
    position: absolute;
    left: relative;
    top: relative;
    display: inline-block;
}