html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  overscroll-behavior-y: none;
}
canvas {
  display: block;
  background-color: white;
}

hr {
  position: absolute;
  margin: 0;
  top: 15vh;
  left: 0;
  width: 100vw;
  height: 0.05vh;
  border: none;
  background-color: black;
}

.menu {
  display: flex;
  width: 100%;
  height: 15vh;
  justify-content: flex-start;
  gap: 2vh;
}

button.colorpicker{
  height: 13vh;
  margin: auto 0 auto 2vh;
  padding: 0;
  border-width: 0.05vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0.5vh;
  border-color: 	black;
}
.colorpicker p {
  margin: 1vh;
  font-size: 3vh;
}
input#colorpicker {
  padding: 0;
  margin: 0.5vh;
  margin-bottom: 0;
  width: 8vh;
  height: 8vh;
  border: none;
  border-radius: 0.5vh;
}

#colors {
  display: grid;
  grid-template-columns: auto auto auto auto;
  height: 13vh;
  width: 17vh;
  margin: auto 0;
  align-content: space-between;
  row-gap: 0.5vh;
}

#colors button {
  width: 4vh;
  height: 4vh;
  border-width: 0.05vh;
  border-radius: 0.5vh;
  border-color: black;
}

#colors #color1 {
  background-color: red;
}#colors #color2 {
  background-color: orange;
}#colors #color3 {
  background-color: yellow;
}#colors #color4 {
  background-color: lightgreen;
}#colors #color5 {
  background-color: green;
}#colors #color6 {
  background-color: lightblue;
}#colors #color7 {
  background-color: blue;
}#colors #color8 {
  background-color: pink;
}#colors #color9 {
  background-color: purple;
}#colors #color10 {
  background-color: brown;
}#colors #color11 {
  background-color: black;
}#colors #color12 {
  background-color: white;
}

#tools {
  display: grid;
  grid-template-columns: auto auto auto;
  height: 13vh;
  width: 19vh;
  margin: auto 0;
  row-gap: 0.5vh;
}

#tools input[type=radio] {
  width: 6vh;
  height: 6vh;
  margin: 0;
}

.container {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 6vh;
  width: 6vh;
  margin: auto;
  border-radius: 0.5vh;
}
.toolIcon {
  display: block;
  width: 5vh;
  height: 5vh;
  margin: 0.5vh;
  background-repeat: no-repeat;
}

#tool1 {
  background-image: url("/icons/pen-solid.svg");
}#tool2 {
  background-image: url("/icons/pencil-solid.svg");
}#tool3 {
  background-image: url("/icons/fill-solid.svg");
}#tool4 {
  background-image: url("/icons/eraser-solid.svg");
}#tool5 {
  background-image: url("/icons/spray-can-solid.svg");
}#tool6 {
  background-image: url("/icons/paintbrush-solid.svg");
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: lightgrey;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

input[type=range][orient=vertical] {
  appearance: slider-vertical;
  width: 2vh;
  height: 13vh;
  margin: 1vh;
}